\// Add the dialog title
$('#modal-bahias-title').html("Nueva bahia");

\// Add the new form
$('.modal-body-bahias').html('#{j render("form")}');

\// Show the dynamic dialog
$('#modalBahias').modal("Show");
