%p#notice= notice
# - (0...@entrega.pictures.count).each do |image|
  # %div{:style => "width:300px; height:300px;"}
    # = image_tag(@entrega.pictures[image], style:'with:50%; height:50%')
%p
  %b Entregado:
  = @entrega.entregado
%p
  %b Fecha entrega:
  = @entrega.fecha_entrega
%p
  %b Pedido:
  = @entrega.pedido.orden



-# = link_to 'Edit', edit_entrega_path(@entrega)
-# \|
-#= link_to 'Back', entregas_path
